{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h4 class="asphalt-bg half-padded"><i class="icon-trash gap-right gap-left"></i>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h4>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
