{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="large asphalt-bg half-padded half-gap-bottom">
    <i class="icon-share gap-right gap-left"></i>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
</div>

<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
