{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="asphalt-bg half-padded half-gap-bottom">
    <i class="icon-share gap-right gap-left"></i>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}
</div>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
