{# app/Resources/views/navigation/resultats.html.twig #}

{% extends './base.html.twig' %}

{% block body %}
            <div class="one whole centered gapped padded">
                <iframe height="600px" width="100%" style="border:none;" src="https://prezi.com/p/zopnx_vnvj9k/embed"></iframe>
            </div>
{% endblock  %}

