{% extends 'demo.html.twig' %}

{% block body %}
<div class="row no-pad no-gap">
  <iframe src="{{ url('gantt') }}" frameborder="0" style="width:100%; height:800px;">
  </iframe> 
</div>
{% endblock %}
