#map{
  height: 100vh;
  z-index: 0;
}

/* customize look of leaflet zoom controls */
.leaflet-control-zoom-in{
  padding: 0px;
}
.leaflet-control-zoom-out{
  padding: 0px;
}
.leaflet-popup-close-button::after{
  display: none;
}
li[role=menu] {
  white-space: nowrap;
}
