{% extends 'demo.html.twig' %}

{% block body %}
<div class="one whole">
    <h3>Ajouter une adresse</h3>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('adresse_index') }}">Retour à la liste</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
