{# app/Resources/FOSMessageBundle/views/layout.html.twig #}

{% extends './demo.html.twig' %}

{% block body %}
    <div class="row container centered white-bg padded bordered">

        <div class="box asphalt padded gap-bottom large"><i class="icon-envelope-alt gap-left gap-right"></i>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</div>

        <div class="row">
            <div class="one fifth padded">
                <h5><b><i class="icon-inbox charcoal gap-right"></i></b><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></h5>
                <h5><b><i class="icon-share charcoal gap-right"></i></b><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></h5>
                <h5><b><i class="icon-trash charcoal gap-right"></i></b><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></h5>
            </div>
            <div class="four fifths bordered padded" style="height:500px; overflow-y: scroll; overflow-x: hidden;">
                {% block fos_message_content %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock body %}